
 <ion-content [fullscreen]="true">
    <ion-header class="headerMain">
      <div class="bg"></div>
      <div class="overlayer"></div>
      <div class="d-flex main">
        <div class="d-flex icons">
  
          <ion-buttons start>
            <ion-menu-toggle class="headerIcon">
                <img src="/assets/icon/menu.png" alt="menu">
              </ion-menu-toggle>
              
              <ion-button class="headerIcon" routerDirection="forward" >
                <i class="far fa-bell"></i>
   
              </ion-button>
            </ion-buttons>
  
        </div>
  
        <div class="text-center main title">
          <div>
        مركز المباريات    
          </div>
        </div>


        <div class="left d-flex">

            <ion-buttons start>
                <button class="headerIcon" ion-button>
                    <i class="far fa-calendar"></i>
                </button>
                  
                <button class="headerIcon" ion-button>
                    <i class="fas fa-trophy"></i>
                  </button>

              
            </ion-buttons>
          </div>

    </div>

  
    <div class="btnsContainer">
        <button class="btn btn-danger" >
          اليوم
        </button>
  
        <button class="btn">
          امس
        </button>
        <button class="btn">
        غدا
        </button>
   
      </div>
  
      

         </ion-header>

    <div id="container">
        <div class="matchSlider">
            <div class="row">
              <div class="col-4 firstTime d-flex">
                <div class="clubName">
                    الريان
                  </div>
                <div class="clubLogo">
                  <img src="assets/img/Al_rayyan_doha_qat.png">
                </div>
               
              </div>
              <div class="col-4 legue">
                <span class="result result1">2</span>
                <span class="time">06:00</span>
                <span class="status">جارية الان </span>
                <div class="legueLogo">
                  <img src="assets/img/team/AFC_Champions_League_crest.png">
                  دورى ابطال اسيا
      
                </div>
                <span class="result result2">1</span>
      
              </div>
              <div class="col-4 lastTime d-flex">
      
                <div class="clubLogo">
                  <img src="assets/img/Al_rayyan_doha_qat.png">
      
                </div>
               
                <div class="clubName">
                    الريان
                  </div>
      
              </div>
          </div>
      
        </div>

          <!-- hr -->
    <div class="hr">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="392" height="1"
          viewBox="0 0 392 1">
          <defs>
            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
  
              <stop offset="0" stop-color="#fff" stop-opacity="0" />
              <stop offset="0.498" stop-color="#bdbdbd" />
              <stop offset="1" stop-color="gray" stop-opacity="0" />
            </linearGradient>
          </defs>
          <rect id="Rectangle_53" data-name="Rectangle 53" width="1" height="392" transform="translate(392) rotate(90)"
            opacity="0.2" fill="url(#linear-gradient)" />
        </svg>
      </div>


      <div class="matchSlider">
        <div class="row">
          <div class="col-4 firstTime d-flex">
            <div class="clubName">
                الريان
              </div>
            <div class="clubLogo">
              <img src="assets/img/Al_rayyan_doha_qat.png">
            </div>
           
          </div>
          <div class="col-4 legue">
            <span class="result result1">2</span>
            <span class="time">06:00</span>
            <span class="status">جارية الان </span>
            <div class="legueLogo">
              <img src="assets/img/team/AFC_Champions_League_crest.png">
              دورى ابطال اسيا
  
            </div>
            <span class="result result2">1</span>
  
          </div>
          <div class="col-4 lastTime d-flex">
  
            <div class="clubLogo">
              <img src="assets/img/Al_rayyan_doha_qat.png">
  
            </div>
           
            <div class="clubName">
                الريان
              </div>
  
          </div>
      </div>
  
    </div>

      <!-- hr -->
<div class="hr">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="392" height="1"
      viewBox="0 0 392 1">
      <defs>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">

          <stop offset="0" stop-color="#fff" stop-opacity="0" />
          <stop offset="0.498" stop-color="#bdbdbd" />
          <stop offset="1" stop-color="gray" stop-opacity="0" />
        </linearGradient>
      </defs>
      <rect id="Rectangle_53" data-name="Rectangle 53" width="1" height="392" transform="translate(392) rotate(90)"
        opacity="0.2" fill="url(#linear-gradient)" />
    </svg>
  </div>

  <div class="text-center Maintitle">
      <h6 class="title">
          السبت , 25 نوفمير
          <span class="count d-block">
              2 مباريات
          </span>
      </h6>
  </div>

  
      <!-- hr -->
<div class="hr">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="392" height="1"
      viewBox="0 0 392 1">
      <defs>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">

          <stop offset="0" stop-color="#fff" stop-opacity="0" />
          <stop offset="0.498" stop-color="#bdbdbd" />
          <stop offset="1" stop-color="gray" stop-opacity="0" />
        </linearGradient>
      </defs>
      <rect id="Rectangle_53" data-name="Rectangle 53" width="1" height="392" transform="translate(392) rotate(90)"
        opacity="0.2" fill="url(#linear-gradient)" />
    </svg>
  </div>

    <div class="matches">
        <div class="legueTitle">
            <div class="legueLogo d-flex">
                <img src="assets/img/team/AFC_Champions_League_crest.png">
                دورى ابطال اسيا
    
              </div>
        </div>

        <div class="matchSlider">
            <div class="row">
              <div class="col-4 firstTime d-flex">
                <div class="clubName">
                    الريان
                  </div>
                <div class="clubLogo">
                  <img src="assets/img/Al_rayyan_doha_qat.png">
                </div>
               
              </div>
              <div class="col-4 legue">
                <span class="result result1">2</span>
                <span class="status">جارية الان </span>
                <span class="result result2">1</span>
      
              </div>
              <div class="col-4 lastTime d-flex">
      
                <div class="clubLogo">
                  <img src="assets/img/Al_rayyan_doha_qat.png">
      
                </div>
               
                <div class="clubName">
                    الريان
                  </div>
      
              </div>
          </div>
      
        </div>

        <div class="matchSlider">
            <div class="row">
              <div class="col-4 firstTime d-flex">
                <div class="clubName">
                    الريان
                  </div>
                <div class="clubLogo">
                  <img src="assets/img/Al_rayyan_doha_qat.png">
                </div>
               
              </div>
              <div class="col-4 legue">
                <span class="result result1">2</span>
                <span class="status">جارية الان </span>
                <span class="result result2">1</span>
      
              </div>
              <div class="col-4 lastTime d-flex">
      
                <div class="clubLogo">
                  <img src="assets/img/Al_rayyan_doha_qat.png">
      
                </div>
               
                <div class="clubName">
                    الريان
                  </div>
      
              </div>
          </div>
      
        </div>
        
    </div>  

    </div>
 
 </ion-content>