
.setting-content {
    ion-item {
      --background: var(--ion-color-mainPrimary);
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-top: 0;
      --inner-padding-bottom: 0;
      .shared-btns {
        top: -5px;
        left: -5px;
      }
    }
}
