 <app-header headerTitle="new"></app-header>

 <ion-content class="setting-content" [fullscreen]="true">
   <ion-list class="ion-padding notification-profile" lines="none">

     <ion-item lines="none">
       <ion-card>
         <img src="assets/img/news/1.png" />
         <ion-fab class="shared-btns" vertical="top" horizontal="end">
           <ion-fab-button size="small">
             <ion-icon name="share-social"></ion-icon>
           </ion-fab-button>
         </ion-fab>
         <ion-card-content>
           بعد فوز الريان على ام صلال احتفالات كبيره فى كل المدن
         </ion-card-content>
         <ion-button shape="round"> 25 نوفمبر 2019</ion-button>

       </ion-card>

     </ion-item>

     <ion-item lines="none">
       <ion-card>
         <img src="assets/img/news/1.png" />
         <ion-fab class="shared-btns" vertical="top" horizontal="end">
           <ion-fab-button size="small">
             <ion-icon name="share-social"></ion-icon>
           </ion-fab-button>
         </ion-fab>
         <ion-card-content>
           بعد فوز الريان على ام صلال احتفالات كبيره فى كل المدن
         </ion-card-content>
         <ion-button shape="round"> 25 نوفمبر 2019</ion-button>

       </ion-card>

     </ion-item>

   </ion-list>
 </ion-content>