 <app-header headerTitle="عنوان الفيديو يظهر هنا عن "></app-header>

 <ion-content>

    <div id="container">
        <ion-row >
        
            <ion-col size="12" class="mediaSlider">
                <img src="assets/img/Rayyan-1.png" alt="package name">

                <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source src="" type="video/mp4" />
                </video>
                  -->
                <div class="overlayer"></div>
                <div class="desc media">
                  <i class="fas fa-play-circle"></i>
                 
        
                </div>
                
              </ion-col>

        </ion-row>
        </div>
        
 </ion-content>