<app-header headerTitle="2020"></app-header>

<ion-content class="setting-content" [fullscreen]="true">

  <ion-list class="ion-padding notification-profile fisrt-list" lines="inset">
    <ion-item>
      <p class="start-par" slot="start">المباريات</p>
      <p class="end-par" slot="end">20</p>
    </ion-item>

    <ion-item>
      <p class="start-par" slot="start">فوز</p>
      <p class="end-par" slot="end">30</p>
    </ion-item>
    <ion-item>
      <p class="start-par" slot="start">هزيمة</p>
      <p class="end-par" slot="end">40</p>
    </ion-item>
    <ion-item>
      <p class="start-par" slot="start">تعادل</p>
      <p class="end-par" slot="end">50</p>
    </ion-item>
  </ion-list>
</ion-content>