<div class="toolbar d-flex">
    <i class="fas fa-times" (click)="closeModal()"></i>
    <div class="left">
        <div class="date timeDate">
            <span> 5/5 </span>
            <i class="fas fa-share-alt"></i>
      </div>
    </div>
</div>
<ion-slides style="height: 100%;"    pager="true" >
    <ion-slide >
        <div class="imageContainer" style="background-image: url('assets/img/s2.jpg');"></div>
        <!-- <img src="assets/img/s2.jpg" alt="image"> -->
    </ion-slide>

    <ion-slide >
        <div class="imageContainer" style="background-image: url('assets/img/s2.jpg');"></div>
        <!-- <img src="assets/img/s2.jpg" alt="image"> -->
    </ion-slide>

</ion-slides>