<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="dismiss()">
        <ion-icon slot="icon-only" src="./assets/img/posts/forward.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar mode="md"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="setting-content" [fullscreen]="true">
  <ion-list class="ion-padding notification-profile" lines="inset">

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/img/posts/player.png">
      </ion-avatar>
      <ion-label>
        <h3>سبستيان سوريا</h3>
        <p>ضد
          <ion-icon slot="icon-only" src="./assets/img/posts/arrow-left.svg"></ion-icon>
          العربي ( قطر ) </p>
      </ion-label>
      <p class="end-par" slot="end">40</p>

    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/img/posts/player.png">
      </ion-avatar>
      <ion-label>
        <h3>سبستيان سوريا</h3>
        <p>ضد
          <ion-icon slot="icon-only" src="./assets/img/posts/arrow-left.svg"></ion-icon>
          العربي ( قطر ) </p>
      </ion-label>
      <p class="end-par" slot="end">40</p>

    </ion-item>

  </ion-list>
</ion-content>