/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "TAJAWAR";
  src: url("./assets/fonts/TAJAWAL-REGULAR.TTF");
}
@font-face {
  font-family: "TAJAWAM";
  src: url("./assets/fonts/TAJAWAL-MEDIUM.TTF");
}

@font-face {
  font-family: "TAJAWAB";
  src: url("./assets/fonts/TAJAWAL-BOLD.TTF");
}

body {
  font-family: "TAJAWAR", Arial, sans-serif;
}

ion-menu-button {
  display: none !important;
}

#container {
  background: var(--ion-color-mainPrimary);
  // height: 100%;
}
.overlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}

.fa-bell {
  font-size: 1.3rem;
}
.setting-content {
  --background: var(--ion-color-mainPrimary);

  .notification-profile {
    padding: 0;

    ion-item {
      --background: var(--ion-color-mainPrimary);

      ion-avatar {
        width: 40px;
        height: 40px;
      }
      p {
        margin-top: 0;
      }
      h3 {
        white-space: normal;
        color: var(--ion-color-light);
      }
    }
  }
}

#container {
  padding-top: 80px;
  padding-bottom: 20px;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.headerMain {
  height: 200px;
  position: relative;
  background: var(--ion-color-mainPrimary);
  .bg {
    height: 200px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
  }
  .main {
    justify-content: space-between;
    .title {
      color: #fff;
      width: 50%;
      text-align: center !important;
    }
    .icons,
    .left,
    .title {
      padding: 25px 5px;
      z-index: 99;
      img {
        width: 24px;
      }
      i {
        color: #fff;
        font-size: 17px;
      }
      .notify,
      .football {
        width: 15px;
      }
      .centerMatch {
        .btn {
          padding: 0.175rem 0.55rem;
          border-radius: 25px;
        }
      }
    }
  }
}
.headerIcon {
  background: transparent;
}

.matchSlider {
  padding-top: 15px;
  ion-slide {
    ion-card {
      width: 100%;
      height: 100%;
    }
    background: #fff;
    padding: 5px 0;
    margin: 0 10px;
    border-radius: 8px;
    .row {
      width: 100%;
    }
    .clubLogo {
      margin-right: 6px;

      img {
        width: 35px;
        height: auto;
      }
    }
    .clubName {
      margin-top: 5px;
      font-size: 16px;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .firstTime {
      text-align: center;

      padding: 13px 0 0 16px;

      &:after {
        content: "";
        border-left: 1px solid #dadada;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
      }
    }
    .lastTime {
      text-align: center;
      padding: 13px 12px 0 0px;

      .clubLogo {
        margin: 0;
      }
      .clubName {
        padding: 0;
      }
      &:after {
        content: "";
        border-right: 1px solid #dadada;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
      }
      .result {
        right: -13px;
        left: auto !important;
      }
    }
    .result {
      position: absolute;
      top: 30%;
      left: -13px;
      background: #000;
      color: #fff;
      border-radius: 100%;
      padding: 1px 10px;
      font-weight: bold;
      z-index: 9;
    }
    .time {
      font-weight: bold;
      font-size: 20px;
      display: block;
      width: 100%;
      text-align: center;
    }
    .legueLogo {
      img {
        width: auto;
        height: 30px;
        margin: 5px 0;
      }
    }
    .status {
      font-size: 13px;
      background: #dc3545;
      color: #fff;
      border-radius: 25px;
      padding: 2px 10px;
      margin-top: 5px;
      display: inline-block;
    }
  }
}

.btnsContainer {
  display: flex;
justify-content: space-around;
padding: 0 10px;
margin: 7px 0;

  .btn{
      border-radius: 20px;
      color: #fff;
      border: 1px solid;
      position: relative;
      font-size: 13px;
      padding: 6px;
      &.btn-danger{
          border-color: #bd2130;
      border-radius: 20px !important;

      }
  }
}
.list-match {
  background: transparent;
  .row {
    width: 100%;
    padding: 15px 0;
    margin: auto;
  }
  ion-item {
    margin-bottom: 10px;
    --background: #111514;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;
    box-shadow: 0 0px 0px 1px #ffffff2b;
  }
  .clubLogo {
    margin-right: 6px;

    img {
      width: 50px;
      height: auto;
    }
  }
  .clubName {
    margin-top: 5px;
    font-size: 16px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f4f5f8;
  }

  .firstTime {
    text-align: center;

    padding: 13px 0 0 16px;

    &:after {
      content: "";
      border-left: 1px solid #1f2626;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
    }
  }
  .lastTime {
    text-align: center;
    padding: 13px 12px 0 0px;

    .clubLogo {
      margin: 0;
    }
    .clubName {
      padding: 0;
      color: #f4f5f8;
    }
    &:after {
      content: "";
      border-right: 1px solid #1f2626;
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
    }
    .result {
      right: -13px;
      left: auto !important;
    }
  }
  .result {
    position: absolute;
    top: 35%;
    left: -13px;
    background: #1f2626;
    color: #fff;
    border-radius: 100%;
    padding: 1px 10px;
    font-weight: bold;
    z-index: 9;
  }
  .time {
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #f4f5f8;
  }
  .legueLogo {
    color: #f4f5f8;
    img {
      width: auto;
      height: 30px;
      margin: 5px 0;
    }
  }
  .status {
    font-size: 13px;
    background: #dc3545;
    color: #fff;
    border-radius: 25px;
    padding: 6px 35px;
    margin-top: 5px;
    display: inline-block;
    width: 75%;
  }
  .status-win {
    background: #468a5b;
  }
  .status-tied {
    background: #4c80db;
  }
  .legue {
    text-align: center;
  }
}
// ------------------------ start content page  --------------------//
.contact-content {
  .img-contact {
    text-align: center;
    h3 {
      font-size: 15px;
      color: var(--ion-color-light);
      padding: 15px 50px;
    }
  }
  ion-list {
    background: transparent;
    .submit {
      margin-bottom: 17px;

      .invalid-feedback {
        font-size: 14px;
        color: var(--ion-color-danger);
        text-align: end;
      }
    }

    ion-item {
      --background: #111514;
      --color: var(--ion-color-light);
      ion-input,
      ion-textarea {
        --padding-start: 27px !important;
        --padding-end: 27px;
      }
      ion-textarea {
        --padding-top: 0;
        --padding-bottom: 0;
      }
    }

    ion-item:not(.description) {
      border-radius: 50px;
    }

    .description {
      border-radius: 20px;
    }
    .na-input,
    .em-input,
    .ms-input {
      position: relative;
    }
    .icon-img-input {
      font-size: 22px;
      position: absolute;
      right: 14px;
      z-index: 9;
      top: 10px;
    }
  }
  .send-btn {
    ion-button {
      --padding-top: 25px;
      --padding-bottom: 25px;
    }
    margin-bottom: 40px;
  }
  .withthrow {
    text-align: center;
    color: var(--ion-color-light);

    // box-shadow: 0px -2px 10px 0px #0a0a0a3b;
  }
  .soical-media {
    text-align: center;
    ion-icon {
      font-size: 40px;
      margin: 0px 5px;
    }
  }
}

// ------------------------ end content page  --------------------//

// custome modal
.custom-modal {
  --height: 60%;
  align-items: flex-end;

  .modal-wrapper {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}

.model-popup-post {
  background-color: var(--ion-color-mainPrimary);

  ion-grid {
    background-color: var(--ion-color-mainPrimary);
    background-image: url("assets/img/team/modal1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .header-modal {
      p {
        text-align: center;
        color: var(--ion-color-light);
        padding-top: 10px;
      }
      span {
        color: var(--ion-color-danger);
        position: absolute;
        top: 16px;
        left: 12px;
        font-weight: bold;
      }
    }

    .first-row-modal,
    .second-row-modal,
    .third-row-modal {
      p {
        text-align: start;
        color: var(--ion-color-light);
        padding-top: 10px;
        margin-bottom: 0px;
      }
      ion-button {
        font-size: 15px;
      }
      .years-btn {
        --padding-start: 20px;
        --padding-end: 20px;
      }
      ion-item {
        --background: transparent;
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
      }
    }
  }
}
.custom-modal-search {
  ion-searchbar {
    --border-radius: 20px;
    --background: #111514;
    color: var(--ion-color-light);
  }
  .setting-content {
    .notification-profile {
      ion-avatar {
        width: 60px;
        height: 60px;
      }
      .end-par {
        margin: 0;
        font-size: 1.2rem;
        color: var(--ion-color-danger);
        font-weight: bold;
      }
    }
  }
}

#container{



.mediaSlider {
  // margin-bottom: 15px;

  img.moreImage {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    position: absolute;
    min-height: 40px;
    bottom: -15px;
    &:nth-child(1) {
      right: 12px;
      z-index: 1;
    }
    &:nth-child(2) {
      right: 25%;
      z-index: 2;
    }
    &:nth-child(3) {
      right: 45%;
      z-index: 3;
    }
    &:nth-child(4) {
      right: 60%;
      z-index: 4;
    }
  }
  .moreIcon {
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 15%;
    border-radius: 100%;
    position: absolute;
    bottom: -15px;
    background: #000;
    color: #fff;
    right: 75%;
    z-index: 5;
    .fas {
      line-height: 40px;

      font-size: 14px;
      margin-bottom: 0;
    }
  }
  .overlayer {
      background: rgba(0, 0, 0, 0.3);
    }
  .videoDesc {
      width: 100%;
      display: block;
      margin-top: 5px;
      font-size: 16px;
      text-align: start;

  }
  .desc {
      font-weight: 600;
      padding: 8px 5px;
      font-size: 15px;
      text-align: start;
  
      &.media {
        position: absolute;
        bottom: 0;
        color: #fff;
        font-weight: normal;
        display: block;
        width: 100%;
        right: 0;
        text-align: center;
        &.more{
        bottom: 12%;

        }
      }
  }
  .fas {
      line-height: 40px;
  font-size: 30px;

      margin-bottom: 0;
    }
  .date {
      span {
        margin-top: 8px;
        display: inline-block;
        background: #dc3545;
        padding: 3px 12px;
        border-radius: 15px;
        font-size: 15px;
        color: #fff;
        letter-spacing: 2px;

      }
      &.timeDate {
        position: absolute;
        left: 8px;
        top: 0px;
        font-size: 12px;
        font-weight: normal;
        &.time
        span{
          padding: 2px 8px;
          letter-spacing: 0;

        }
      }
    }

  position: relative;
  padding: 0;
  img , video {
    width: 100%;
    height: 170px;
    max-height: 170px;
  }
}
}
.gallery-modal{
  height: 35%;
  margin-top: 35%;
  .swiper-pagination-bullet {
    width: 12px !important;
    height:  12px !important;
    
    }
}
.hr{
  text-align: center;
}