 <app-header headerTitle="notifications"></app-header>

 <ion-content class="setting-content" [fullscreen]="true">
   <ion-list class="ion-padding notification-profile" lines="inset">

     <ion-item>
       <ion-avatar slot="start">
         <img src="./assets/img/notifications/notifi.svg">
       </ion-avatar>
       <ion-label>
         <h3>نص الاشعار يظهر هنا بطريقة مختصرة غير متكلفة
           عن محتوى الاشعار </h3>
         <p>
           <ion-icon slot="icon-only" name="time-outline"></ion-icon>
           منذ 5 دقائق
         </p>
       </ion-label>
     </ion-item>

     <ion-item>
       <ion-avatar slot="start">
         <img src="./assets/img/notifications/notifi.svg">
       </ion-avatar>
       <ion-label>
         <h3>نص الاشعار يظهر هنا بطريقة مختصرة غير متكلفة
           عن محتوى الاشعار </h3>
         <p>
           <ion-icon slot="icon-only" name="time-outline"></ion-icon>
           منذ 5 دقائق
         </p>
       </ion-label>
     </ion-item>

   </ion-list>
 </ion-content>