 <app-header headerTitle="معرض الصور"></app-header>
<!-- hr -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="392" height="1"
viewBox="0 0 392 1">
<defs>
  <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">

    <stop offset="0" stop-color="#fff" stop-opacity="0" />
    <stop offset="0.498" stop-color="#bdbdbd" />
    <stop offset="1" stop-color="gray" stop-opacity="0" />
  </linearGradient>
</defs>
<rect id="Rectangle_53" data-name="Rectangle 53" width="1" height="392" transform="translate(392) rotate(90)"
  opacity="0.2" fill="url(#linear-gradient)" />
</svg>

 <ion-content>
    <div id="container">
        <ion-row (click)="presentModal()">
            <ion-col size="12" class="mediaSlider">
                <img src="assets/img/Rayyan-1.png" alt="package name">
                <div class="overlayer"></div>
                <div class="desc media more">
                  <span class="videoDesc">
                    <img class="moreImage" src="assets/img/Herve-Renard-634x315.png">
                    <img class="moreImage" src="assets/img/Herve-Renard-634x315.png">
                    <img class="moreImage" src="assets/img/Herve-Renard-634x315.png">
                    <img class="moreImage" src="assets/img/Herve-Renard-634x315.png">
                  </span>

                </div>
                <div class="date timeDate">
                  <span> 5/5 </span>
                </div>
              </ion-col>
        </ion-row>

        
</div>
 </ion-content>